{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title text-decoration-underline">Agustin Beceiro</h5>
    <br/>
    <p class="card-text">Hola! Soy Agustin
        
        Estudiante de programación de 26 años. Actualmente me encuentro trabajando en rubro de IGaming
        <br/>
        <br/>
        La idea de este proyecto es mostrar los conocimientos adquiridos a lo largo de este curso en Coder House
        <br/>
        <br/>
        Por eso, implementé esta base de datos simplificada utilizando <strong>Django</strong> en la que se pueden crear usuarios, agregar, editar y eliminar infomormación. 
        <br/>
        <br/>
        Espero sea de su agrado, quedo pendiente a comentarios respecto a oportunidades y mejoras.
    </p>
  </div>
  <div class="card-body">
    <a href="https://github.com/Beceiro/PlaygroundFinalProject-Beceiro" class="card-link">GitHub</a>
    <a href="https://www.linkedin.com/in/agustinbeceiro/" class="card-link">LinkedIn</a>
  </div>
</div>

{% endblock %}